        <!-- footer -->
        <div class="footer-container">
            <div class="other-app">
                <h3>DOWNLOAD OUR APP</h3>
                <h2>Download App for Android and IOS mobile phone</h2>
                <div class="footer-img-container">

                    <div class="android">
                        <img src="/assets/images/android-app.png" alt="">
                    </div>
                    <div class="ios">
                        <img src="./img/ios-app.png" alt="">
                    </div>
                </div>
            </div>

            <div class="footer-center-content">
                <h1>ECOMMERCE</h1>
                <h4>High quality is our first priority</h4>
                <p>Copyrights 2022 © Ehtisham</p>
            </div>

            <div class="social-links">
                <h2>Follow Us</h2>
                <h3>Instagram</h3>
                <h3>Youtube</h3>
                <h3>Facebook</h3>
            </div>
        </div>