        
        <!-- Nav Bar -->
        <div class="nav-container">

            <div class="nav-hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <nav class="nav-list-container">

                <h2>Ecommerce</h2>

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="">Contacts</a></li>
                    <li><a href="">About</a></li>
                </ul>

                <div class="other-menu">

                    <div class="search-bar">
                        <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                    </div>

                    <div class="cart-item">
                        <a href="/cart"><i class="fa-solid fa-cart-shopping fa-2x"></i></i></a>
                    </div>

                    <div class="user-bar">
                        <a href="/login"><i class="fa-solid fa-user fa-2x"></i></a>
                    </div>

                </div>

            </nav>

        </div>


        <!-- Profile -->
        <div class="user-profile">
            <div class="main-user-profile-nav">
                <div class="user-profile-nav">

                    <div class="user-profile-img">
                        <img alt="">
                        <div class="notification-number">
                            <p></p>
                        </div>
                    </div>

                    <div class="user-profile-nav-list">

                        <div class="nav-hover-wrapper admin-only">
                            <span>Dashboard</span>
                            <div class="dashboard-nav">
                                <a href="/admin/dashboard"><i class="fa-brands fa-discord"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Orders</span>
                            <div class="order-nav">
                                <a href="/orders"><i class="fa-sharp fa-solid fa-bag-shopping"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Profile</span>
                            <div class="profile-nav">
                                <a href="/user"><i class="fa-solid fa-user"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Cart</span>
                            <div class="cart-nav">
                                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Reviews</span>
                            <div class="review-nav">
                                <a href="/order/review"><i class="fa-solid fa-envelope"></i></a>
                            </div>
                            <div class="notification-number">
                                <p></p>
                            </div>
                        </div>
                        <div class="nav-hover-wrapper">
                            <span>Logout</span>
                            <div class="logout-nav">
                                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>