<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/style.css">
    <title>Change Password</title>
</head>

<body>
    <div class="container">
        <!-- Nav Bar -->
        <div class="nav-container">

            <div class="nav-hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <nav class="nav-list-container">

                <h2>Ecommerce</h2>

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Contacts</a></li>
                    <li><a href="">About</a></li>
                </ul>

                <div class="other-menu">

                    <div class="search-bar">
                        <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                    </div>

                    <div class="cart-item">
                        <a href="/cart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                    </div>

                    <div class="user-bar">
                        <a href="/login"><i class="fa-solid fa-user fa-2x"></i></a>
                    </div>

                </div>

            </nav>

        </div>

        <!-- Profile -->
        <div class="user-profile">
            <div class="main-user-profile-nav">
                <div class="user-profile-nav">

                    <div class="user-profile-img">
                        <img src=" <%= image %>" alt="">
                    </div>

                    <div class="user-profile-nav-list">


                        <div class="nav-hover-wrapper admin-only">
                            <span>Dashboard</span>
                            <div class="dashboard-nav">
                                <a href="/admin/dashboard"><i class="fa-brands fa-discord"></i></a>
                            </div>
                        </div>
                        <div class="nav-hover-wrapper">
                            <span>Orders</span>
                            <div class="order-nav">
                                <a href="/orders"><i class="fa-sharp fa-solid fa-bag-shopping"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Profile</span>
                            <div class="profile-nav">
                                <a href="/user"><i class="fa-solid fa-user"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Cart</span>
                            <div class="cart-nav">
                                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>

                        <div class="nav-hover-wrapper">
                            <span>Logout</span>
                            <div class="logout-nav">
                                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-register-container update-profile-container">
                <h2>Change Password</h2>
                <form action="" id="login-n-register-form">

                    <input type="password" placeholder="Old Password" name="old-password" class="old-password-input">
                    <input type="password" placeholder="New Password" name="new-password" class="new-password-input">
                    <input type="password" placeholder="Confirm Password" name="confirm password" class="confirm-password-input">
                   
                    <button type="submit" class="form-submit-btn">Change</button>
                </form>
            </div>

        </div>
    </div>

    <script>
        const hamburger = document.querySelector('.nav-hamburger');
        const navList = document.querySelector('.nav-list-container');

        hamburger.addEventListener('click', () => {
            navList.classList.toggle('active');
        })

        const user = document.querySelector('.user-profile-nav');

        user.addEventListener('mouseover', () => {
            document.querySelector('.main-user-profile-nav').classList.add('active');
        })
        user.addEventListener('mouseout', () => {
            document.querySelector('.main-user-profile-nav').classList.remove('active');
        })

        const userProfile = document.querySelector('.user-profile');
        function homePageUser() {
            let checkForToken = document.cookie.split(';');
            let token = checkForToken.find(item => {
                if (item.includes('token')) {
                    return true;
                }
            })
            if (token) {
                userProfile.style.display = 'block';
                fetch('/homeUser', {
                    method: 'get',
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then((res) => res.json())
                    .then((data) => {
                        const adminOnly = document.querySelector('.admin-only');
                        const userProfileImg = document.querySelector('.user-profile-img img');

                        userProfileImg.src = data.user.picture;
                        if (data.user.role === 'user') {
                            adminOnly.style.display = 'none';
                        }
                        if (data.user.role === 'admin') {
                            adminOnly.style.display = 'block';
                        }
                    })
            } else {
                userProfile.style.display = 'none';
            }
        }
        homePageUser();

        function loadFile(event) {
            const registerImg = document.querySelector('.register-img');
            registerImg.src = URL.createObjectURL(event.target.files[0]);
        }

        // Post Change Password Request To Server
        const updateBtn = document.querySelector('.form-submit-btn');
        updateBtn.addEventListener('click', (e) => {
            e.preventDefault();

            const oldPassword = document.querySelector('.old-password-input').value;
            const newPassword = document.querySelector('.new-password-input').value;
            const confirmPassword = document.querySelector('.confirm-password-input').value;
           
            const formData = new FormData;
            formData.append('oldPassword', oldPassword);
            formData.append('newPassword', newPassword);
            formData.append('confirmPassword', confirmPassword);
  

            fetch('/profile/changed-password', {
                method: 'PUT',
                body: formData,
            })
            .then(res=> res.json())
            .then(result => {
                if(result.success) {
                    window.location.href = '/user';
                   
                }
            })
        })
    </script>
</body>

</html>